In [3]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [7]:
df=pd.read_csv("C:/Users/hp/Desktop/datascience/csv files/hotel_booking_data.csv")
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [8]:
df.shape

(119390, 36)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

In [10]:
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

In [11]:
df=df.drop('company',axis=1)

In [12]:
df.shape

(119390, 35)

In [13]:
#What are the top 5 most common country codes in the dataset?
df["country"].value_counts().head()

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: country, dtype: int64

In [14]:
#What is the name of the person who paid the highest ADR (average daily rate)? How much was their ADR?
df['adr'].max()

5400.0

In [15]:
df[df['adr']==df['adr'].max()]['name']

48515    Daniel Walter
Name: name, dtype: object

In [16]:
#What is the average (mean) number of nights for a stay across the entire data set?
df['total_stay_nights'] = df['stays_in_week_nights'] + df['stays_in_weekend_nights']
df['total_stay_nights'].mean()

3.4279001591423066

In [17]:
#What is the average total cost for a stay in the dataset?
df['total_cost']=df['adr']*df['total_stay_nights']
df['total_cost'].mean()

357.8482078063524

In [18]:
#What are the names and emails of people who made 5 "Special Requests"?
df[df['total_of_special_requests']==5][['name','email']]

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

In [19]:
#What percentage of hotel stays were classified as "repeat guests"?
df['is_repeated_guest'].value_counts()

0    115580
1      3810
Name: is_repeated_guest, dtype: int64

In [20]:
#1=True
#0=False
df[df['is_repeated_guest']==1]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,total_stay_nights,total_cost
13937,Resort Hotel,0,6,2016,April,17,20,0,2,1,...,1,0,Check-Out,2016-04-22,Alex Dickerson,Alex.Dickerson@comcast.net,732-895-9283,************6987,2,0.00
14681,Resort Hotel,1,202,2015,July,30,22,2,5,2,...,0,0,Canceled,2015-01-01,Jeffrey Johnson,Johnson_Jeffrey35@outlook.com,264-353-0051,************1019,7,636.65
14777,Resort Hotel,1,187,2015,August,32,4,0,5,2,...,0,2,Canceled,2015-01-29,Megan Kim,MeganKim@mail.com,442-729-5051,************1979,5,330.00
14817,Resort Hotel,1,202,2015,September,36,1,2,8,2,...,0,1,Canceled,2015-02-11,Patrick Greene,Patrick.G@verizon.com,873-471-3680,************8647,10,556.80
14823,Resort Hotel,1,173,2015,August,34,16,2,5,2,...,0,0,Canceled,2015-02-24,Rebecca Brock,Rebecca.B@aol.com,381-100-7980,************7290,7,916.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117701,City Hotel,0,0,2017,August,32,8,0,0,2,...,0,0,Check-Out,2017-08-08,Danielle Jones,Jones_Danielle@mail.com,148-791-3028,************4463,0,0.00
117841,City Hotel,0,7,2017,August,35,30,0,2,1,...,0,2,Check-Out,2017-09-01,Beth Shah,Beth.Shah@yahoo.com,689-233-4256,************4338,2,130.00
117961,City Hotel,0,0,2017,August,32,12,0,1,2,...,0,2,Check-Out,2017-08-13,Ian Jackson,Jackson_Ian@verizon.com,280-018-3030,************9169,1,240.00
118029,City Hotel,0,0,2017,August,33,14,0,0,2,...,0,0,Check-Out,2017-08-14,Phillip Lewis,PhillipLewis70@xfinity.com,397-838-1304,************9624,0,0.00
119070,City Hotel,0,0,2017,August,35,29,0,1,2,...,0,1,Check-Out,2017-08-30,Pamela Castro,PamelaCastro@yandex.com,596-105-6960,************6430,1,270.00

In [21]:
sum(df['is_repeated_guest']==1)

3810

In [22]:
sum(df['is_repeated_guest']==1)/len(df)*100

3.191222045397437

### 3.19 % of hotel stays were classified as repeat guest

In [23]:
#What are the top 5 most common last name in the dataset?
df['name']

0              Ernest Barnes
1               Andrea Baker
2             Rebecca Parker
3               Laura Murray
4                Linda Hines
                 ...
119385       Claudia Johnson
119386        Wesley Aguilar
119387          Mary Morales
119388    Caroline Conley MD
119389        Ariana Michael
Name: name, Length: 119390, dtype: object

In [24]:
a=df['name'][0]
a

'Ernest Barnes'

In [25]:
a.split()

['Ernest', 'Barnes']

In [26]:
a.split()[1]

'Barnes'

In [27]:
def last_name(name):
    return name.split()[1]

In [28]:
df['name'].apply(last_name).value_counts().head(5)

Smith       2510
Johnson     1998
Williams    1628
Jones       1441
Brown       1433
Name: name, dtype: int64

In [29]:
df['name'].apply(lambda name:name.split()[1]).value_counts().head(5)

Smith       2510
Johnson     1998
Williams    1628
Jones       1441
Brown       1433
Name: name, dtype: int64

In [30]:
# What are the names of the people who had booked the most number children and babies for their stay? 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 37 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  days_in_waiting_list            119390 non-null  int64
 25  customer_type                   119390 non-null  object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  int64
 28  total_of_special_requests       119390 non-null  int64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         119390 non-null  object
 31  name                            119390 non-null  object
 32  email                           119390 non-null  object
 33  phone-number                    119390 non-null  object
 34  credit_card                     119390 non-null  object
 35  total_stay_nights               119390 non-null  int64
 36  total_cost                      119390 non-null  float64
dtypes: float64(4), int64(17), object(16)
memory usage: 33.7+ MB

In [31]:
df['total_kids']=df['children']+df['babies']
df['total_kids'].sort_values(ascending=False)

46619     10.0
328       10.0
78656      9.0
116150     3.0
46150      3.0
          ...
0          0.0
40600      NaN
40667      NaN
40679      NaN
41160      NaN
Name: total_kids, Length: 119390, dtype: float64

In [32]:
df.sort_values(by='total_kids',ascending=False)[['name','adults','total_kids','babies','children']][:5]

                     name  adults  total_kids  babies  children
328         Jamie Ramirez       2        10.0       0      10.0
46619     Nicholas Parker       2        10.0      10       0.0
78656       Marc Robinson       1         9.0       9       0.0
19718   Mr. Jeffrey Cross       2         3.0       0       3.0
107837      Albert French       2         3.0       2       1.0

In [33]:
#What are the top 3 most common area code in the phone numbers?
df['phone-number']

0         669-792-1661
1         858-637-6955
2         652-885-2745
3         364-656-8427
4         713-226-5883
              ...
119385    403-092-5582
119386    238-763-0612
119387    395-518-4100
119388    531-528-1017
119389    422-804-6403
Name: phone-number, Length: 119390, dtype: object

In [34]:
def phone_number(num):
    return num[:3]

In [35]:
df['phone-number'].apply(phone_number).value_counts().head()

799    168
185    167
541    166
763    163
739    163
Name: phone-number, dtype: int64

In [36]:
x=df['phone-number'][0]
x

'669-792-1661'

In [37]:
x.split('-')[0]

'669'

In [38]:
def alternative_method(num):
    return num.split('-')[0]

In [39]:
df['phone-number'].apply(alternative_method).value_counts().head()

799    168
185    167
541    166
763    163
739    163
Name: phone-number, dtype: int64

In [40]:
#How many arrivals took place between the 1st and the 15th of the month (inclusive of 1 and 15) ?
sum(df['arrival_date_day_of_month'].between(1,15))

58152

Create a table for counts for each day of the week that people arrived

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 38 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  days_in_waiting_list            119390 non-null  int64
 25  customer_type                   119390 non-null  object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  int64
 28  total_of_special_requests       119390 non-null  int64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         119390 non-null  object
 31  name                            119390 non-null  object
 32  email                           119390 non-null  object
 33  phone-number                    119390 non-null  object
 34  credit_card                     119390 non-null  object
 35  total_stay_nights               119390 non-null  int64
 36  total_cost                      119390 non-null  float64
 37  total_kids                      119386 non-null  float64
dtypes: float64(5), int64(17), object(16)
memory usage: 34.6+ MB

In [42]:
def convert(day,month,year):
    return f'{year}-{month}-{day}'

In [43]:
df['Date']=np.vectorize(convert)(df['arrival_date_day_of_month'],df['arrival_date_month'],df['arrival_date_year'])
df['Date']

0            2015-July-1
1            2015-July-1
2            2015-July-1
3            2015-July-1
4            2015-July-1
               ...
119385    2017-August-30
119386    2017-August-31
119387    2017-August-31
119388    2017-August-31
119389    2017-August-29
Name: Date, Length: 119390, dtype: object

In [44]:
df['Date'][0]

'2015-July-1'

In [45]:
type(df['Date'][0])

str

In [46]:
df['Date']=pd.to_datetime(df['Date'])

In [47]:
df['Date']

0        2015-07-01
1        2015-07-01
2        2015-07-01
3        2015-07-01
4        2015-07-01
            ...
119385   2017-08-30
119386   2017-08-31
119387   2017-08-31
119388   2017-08-31
119389   2017-08-29
Name: Date, Length: 119390, dtype: datetime64[ns]

In [48]:
df['Date'][0].year

2015

In [49]:
df['Date'][0].day_name()

'Wednesday'